<a href="https://colab.research.google.com/github/yadavneelam/Python_for_beginners/blob/master/Exercise_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 2.15 (Variables, expressions, and statements)

In [1]:
name='enter your name'
username=input(name)
print("hello",username)

enter your nameNeel
hello Neel

In [2]:
inp1=input('enter hour')
hours=float(inp1)
inp2=input('enter rate')
rate=float(inp2)
pay=round(hours*rate)
print(pay)

enter hour35
enter rate1.5
52

In [3]:
temp=input('temperature in celsius')
fah_temp=(float(temp)*1.8)+32
print(fah_temp)

temperature in celsius36
96.8

Exercise 3.11 : Conditional Execution

In [4]:
input_1=input('enter hours')
hours=int(input_1)
input_2=input('enter rate')
rate=float(input_2)
if int(hours)>40:
  pay1=(hours-40)*(float(rate)*1.5)+(40*rate)
  print(pay1)
else:
    normal_pay=hours*rate
    print(normal_pay)

enter hours45
enter rate1.5
71.25

In [5]:
inp1=input('enter hours') 
try:
    hours=int(inp1)
    inp2=input('enter rate')
    rate=int(inp2)
    pay=(hours*rate)
    print(pay)
except:
    print('error,enter numeric input')

enter hours40
enter rate5
200

In [6]:
inp1=input('enter score')
try:
    score=float(inp1)

    if score<=0.0 or score>=1.0:
        print('bad score')
    elif score>=0.9:
        print('A') 
    elif score>=0.8:
        print('B') 
    elif score>=0.7 :
        print('C') 
    elif score>=0.6 :
        print('D') 
    elif score<0.6 :
        print('F') 
except:
    print('bad score')

enter score0.7
C

Exercise 4.14 (Functions)

In [7]:
def computepay(hours,rate):
    pay1=(hours-40)*(rate*1.5)+(40*rate)
    return pay1
Pay=computepay(45,10)
print(Pay)

475.0

In [8]:
score=input('enter score')
try:
    def computegrade():
        if float(score) >= 0.9 and float(score) <= 1.0:
            print("A")
        elif float(score) >= 0.8 and float(score) <= 0.9:
            print("B")
        elif float(score) >= 0.7 and float(score) <= 0.8:
            print("C")
        elif float(score) >= 0.6 and float(score) <= 0.7:
            print("D")
        elif float(score) > 0 and float(score) <= 0.6:
            print("F")
        else:
            print('bad score')
    computegrade()
except:
    print('bad score')

enter score0.8
B

Exercises 5.9 (Iteration)

In [9]:
total = 0.0
count = 0.0
average = 0.0
while True:                               
    num = input("Enter a number: ")
    if num == 'done': break                         
    try:
     num=int(num)
     count+=1
     total= total+num
     if count:
       average=total/count              
    except:
      print("invalid input")  
      continue 
print(total,count,average)

Enter a number: 5
Enter a number: 2
Enter a number: 4
Enter a number: 5
Enter a number: done
16.0 4.0 4.0

In [10]:
smallest = None
largest = None
while True:                               
    num = input("Enter a number: ")
    if num == 'done': break                         
    try:
     num=int(num)
     if largest is None or largest < num: largest =num 
     if smallest is None or smallest > num: smallest =num              
    except:
      print("invalid input")  
      continue 
print("Maximum is",largest)
print("Minimum is",smallest)

Enter a number: 5
Enter a number: 2
Enter a number: 8
Enter a number: done
Maximum is 8
Minimum is 2

Exercise 6.14 (Strings)

In [12]:
str='X-DSPAM-Confidence:0.8475'
atpos=str.find(':')
#print(atpos)
host=str[atpos+1:atpos+8]
change_to_float=float(host)
print(change_to_float)
type(change_to_float)

0.8475

float